body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
}
#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  color: white;
  width: 100%;
  text-align: center;
}
#minha_foto {
  display: block;
  margin: 100px auto 10px auto;
  width: 180px;
  border-radius: 50%;
}
h2 {
  text-align: center;
  font-size: 30px;
}
main {
  text-align: center;
  display: inline-block;
  width: 70%;
}
#licoes_aprendidas {
  display: inline-block;
  width: 130px;
}
#licoes_a_aprender {
  display: inline-block;
  width: 130px;
}
#rodape {
  text-align: center;
  background-color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 10px solid gray;
}
a {
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  text-decoration: none;
}
article {
  text-align: center;
  margin: 30px 40px 60px;
  line-height: 25px;
}
aside {
  display: inline-block;
  width: 30%;
  float: right;
  text-align: center;
}
aside p {
  line-height: 25px;
}
